@import "tailwindcss";

@theme {
  --color-background: #0f1115;
  --color-surface: #1e1e24;
  --color-primary: #8b5cf6;
  --color-secondary: #10b981;
}

@layer base {
  :root {
    color-scheme: dark;
  }
  
  body {
    @apply bg-background text-gray-200 antialiased h-screen w-screen overflow-hidden;
    background-color: var(--color-background);
  }
}
